*{
    font-family: Arial;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: none;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    font-size: 4em;
    text-decoration: none;
    color: aliceblue;
    transition: 0.2s;
    cursor: none;
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius:50% ;
    background: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events:none;
    mix-blend-mode:difference;
}
ul li:hover~ .cursor{
    transform: scale(5);
    
}
/* ul li a:focus{
cursor: none;
} */
